<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seja bem-vindo, faça seu cadastro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="signup()" [formGroup]="signupForm">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person-outline"></ion-icon>
            Nome de usuário
          </ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon>
            Email
          </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock-closed-outline"></ion-icon>
            Senha
          </ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock-closed-outline"></ion-icon>
            Confirmar Senha
          </ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="signupForm.invalid">
          Cadastrar
        </ion-button>
      </form>
      <ion-text>
        <p>Já tem uma conta? <a routerLink="/login">Faça login</a></p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
