<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Seja bem-vindo, faça seu cadastro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="signup()" [formGroup]="signupForm">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="signupForm.invalid">Cadastrar</ion-button>
      </form>
      <ion-text>
        <p>Já tem uma conta? <a routerLink="/login">Faça login</a></p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
