<ion-header>
  <ion-toolbar>
    <ion-title>Histórico de Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let venda of vendas">
      <ion-label>
        <h2>Venda #{{ venda.id }}</h2>
        <p>Cliente: {{ venda.cliente.nome || 'Não informado' }}</p>
        <p>Data: {{ venda.data_venda }}</p>
        <p>Total: R$ {{ venda.total | number: '1.2-2' }}</p>
        <p>Método de Pagamento: {{ venda.metodo_pagamento }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
