<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal('add')">Adicionar Cliente</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let client of clients" class="client-item">
      <ion-label>
        <h2>{{ client.nome }}</h2>
        <ion-grid>
          <ion-row>
            <ion-col size="6"><strong>CPF:</strong> {{ client.CPF }}</ion-col>
            <ion-col size="6"><strong>Telefone:</strong> {{ client.telefone }}</ion-col>
            <ion-col size="6"><strong>CEP:</strong> {{ client.CEP }}</ion-col>
            <ion-col size="6"><strong>Valor Comprado:</strong> R${{ calculateTotalSpent(client.id) | currency }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-button fill="clear" slot="end" color="tertiary" (click)="openModal('edit', client)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" color="danger" (click)="deleteClient(client.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen" (willDismiss)="closeModal()">
    <ng-container *ngIf="modalMode === 'add' || modalMode === 'edit'">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modalMode === 'add' ? 'Adicionar Cliente' : 'Editar Cliente' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="modal-content">
        <form [formGroup]="clientForm" class="form-container">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input formControlName="nome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input formControlName="CPF"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">CEP</ion-label>
            <ion-input formControlName="CEP"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input formControlName="telefone"></ion-input>
          </ion-item>

          <ion-button expand="block" color="primary" (click)="saveClient()">Confirmar</ion-button>
        </form>
      </ion-content>
    </ng-container>
  </ion-modal>
</ion-content>
